/* Global */

body {
  position: relative;
  padding-top: 40px;
}

body > .navbar {
  font-size: 14px;
}

#main-content {
  min-height: 500px;
}

.container.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-image: url("../img/satinweave.png");
}

footer p {
  margin-bottom: 0;
  color: #777;
  font-size: 16px;
  line-height: 30px;
}

footer .social {

}

/* Generic header */

header {
  background-image: url("../img/satinweave.png");
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 15px 0px 15px;
}

header .header-text .desc {
  color: #666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

header .header-text {
  padding: 0px 0px;
}

header .header-text h1 {
  font-size: 50px;
  line-height: 60px;
}

header .header-text .subtitle {
  margin: 40px 0px 10px 0px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 32px;
}

header .header-text .desc {
  font-size: 16px;
  line-height: 32px;
}

header .header-img {
  padding: 10px 0px;
}


/* Home */

#home header .header-text {
  padding: 10px 0px;
}

#home header .header-text h1 {
  font-size: 60px;
}

#home header .header-text .subtitle {
  margin-bottom: 40px;
}

#home header .adhesion {
  text-align: center;
  margin-top: 20px;
}

#home .objectives {
  font-size: 16px;
  line-height: 30px;
}

#home .objectives .title {
  margin-bottom: 20px;
  font-size: 40px;
}

#home .objectives {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Contact */

#contact footer {
  display: none;
}

#contact .content {
  font-size: 11px;
}

#contact .contact-line {
  position: relative;
  font-size: 30px;
  line-height: 50px;
}

#contact .contact-line a {
  font-size: 25px;
}

#contact .contact-link {
  position: absolute;
  left: 45px;
}

#contact .contact-logo {
  font-size: 20px;
  line-height: 25px;
}


/* Actualites */

#actualites-post footer {
  display: none;
}

#actualites .date,
#actualites-post .date {
  color: #999;
  font-style: italic;
  margin-bottom: 10px;
}

/* Images are centered */
#actualites .post-excerpt img,
#actualites-post .post-content img {
  display: block;
  margin: 20px auto;
}

/* The first image of the first paragragphe is right-floating */
#actualites .post-excerpt p:nth-of-type(1) img:nth-of-type(1),
#actualites-post .post-content p:nth-of-type(1) img:nth-of-type(1) {
  display: inline-block;
  float: left;
  margin: 0px 20px 10px 0px;
}


/* Statuts */

#statuts .content h1 {
  font-size: 30px;
}

#statuts .content h2 {
  font-size: 20px;
}


/* Equipe */

#equipe .membre {
  text-align: center;
  margin-bottom: 40px;
}

#equipe .membre .name {
  font-size: 20px;
  line-height: 25px;
}

#equipe .membre .role {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

#equipe .membre .fondateur {
  font-size: 15px;
  font-style: italic;
}

/*
 * RESPONSIVE STUFF
 */

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  header .header-text h1 {
    font-size: 50px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  header .header-text h1 {
    font-size: 50px;
  }

  #home .objectives {
    margin-top: 0px;
  }
  #home .objectives .span4{
    margin-top: 40px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }

  header .header-text h1 {
    font-size: 50px;
  }

  #home .objectives {
    margin-top: 0px;
  }
  #home .objectives .span4{
    margin-top: 40px;
  }
}
