/* Global */

body {
  position: relative;
  padding-top: 40px;
}

body > .navbar {
  font-size: 14px;
}

#main-content {
  min-height: 500px;
}

footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-image: url("../img/satinweave.png");
}

footer p {
  margin-bottom: 0;
  color: #777;
  font-size: 16px;
  line-height: 30px;
}

footer .social {

}

/* Generic header */

header {
  background-image: url("../img/satinweave.png");
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 15px;
}

header .header-text .desc {
  color: #666;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

header .header-text {
  padding: 35px 0px;
}

header .header-text h1 {
  font-size: 60px;
  line-height: 60px;
}

header .header-text .subtitle {
  margin: 40px 0px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 32px;
}

header .header-text .desc {
  font-size: 16px;
  line-height: 32px;
}

header .header-img {
  padding: 10px 0px;
}


/* Home */

#home .objectives {
  font-size: 16px;
  line-height: 30px;
}

#home .objectives .title {
  margin-bottom: 20px;
  font-size: 40px;
}

#home .objectives {
  margin-top: 40px;
  margin-bottom: 40px;
}


/* Contact */

#contact footer {
  display: none;
}

#contact .content {
  padding: 40px 0px;
  font-size: 30px;
  line-height: 50px;
}


/*
 * RESPONSIVE STUFF
 */

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  body {
    padding-top: 0;
  }

  header .header-text h1 {
    font-size: 50px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  header .header-text h1 {
    font-size: 50px;
  }

  #home .objectives {
    margin-top: 0px;
  }
  #home .objectives .span4{
    margin-top: 40px;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  body {
    padding-top: 0;
  }

  header .header-text h1 {
    font-size: 50px;
  }

  #home .objectives {
    margin-top: 0px;
  }
  #home .objectives .span4{
    margin-top: 40px;
  }
}
