<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="Association 3ailes">

    <title>Association 3ailes - {{ page.title }}</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
      <link href="/vendor/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <link href="/css/3ailes.css" rel="stylesheet" media="screen">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/vendor/html5shiv.js"></script>
    <![endif]-->

    <meta property="fb:app_id" content="537913342926908" />
    <meta property="og:type"   content="{{ page.og-type }}" />
    <meta property="og:locale" content="fr_FR" />
  </head>

  <body id="{{ page.body-id }}">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/index.html">3ailes</a>
          <div class="nav-collapse collapse navbar-responsive-collapse pull-right">
            <ul class="nav">
              <li class="{% if page.body-id == 'home' %}active{% endif %}">
                <a href="/index.html">Accueil</a>
              </li>
              <li class="{% if page.body-id == 'actualites' or page.body-id == 'actualites-post' %}active{% endif %}">
                <a href="/actualites.html">Actualités</a>
              </li>
              <!--
              <li class="{% if page.body-id == 'gouters' %}active{% endif %}">
                <a href="#">Goûters</a>
              </li>
              <li class="{% if page.body-id == 'adhesion' %}active{% endif %}">
                <a href="#">Adhérer</a>
              </li>
              -->
              <li class="{% if page.body-id == 'contact' %}active{% endif %}">
                <a href="/contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="main-content">
      {{ content }}
    </div>

    <footer>
      <div class="container">
        <p class="social"><i class="icon-facebook-sign"></i> <a href="http://www.facebook.com/3ailes">Page Facebook</a> | <i class="icon-twitter-sign"></i> <a href="https://twitter.com/asso3ailes">Compte Twitter</a> | <i class="icon-user"></i> <a href="http://groups.google.com/group/3ailes">Groupe de discussion</a></p>
        <!-- <p><i class="icon-file"></i> <a href="#">Statuts de l'association</a></p> -->
      </div>
    </footer>

    <script src="/vendor/jquery-1.9.1.min.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script> -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>
