<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="Association 3ailes">

    <title>Association 3ailes - {{ page.title }}</title>

    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!--[if IE 7]>
      <link href="/vendor/font-awesome/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <link href="/css/3ailes.css" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/vendor/html5shiv.js"></script>
      <script src="/vendor/respond-1.4.2.min.js"></script>
    <![endif]-->

    <meta property="fb:app_id" content="537913342926908" />
    <meta property="og:type"   content="{{ page.og-type }}" />
    <meta property="og:locale" content="fr_FR" />
  </head>

  <body id="{{ page.body-id }}">
    <!-- Facebook stuff -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1&appId=537913342926908";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">3ailes</a>
        </div>

        <div class="collapse navbar-collapse pull-right" id="navbar-collapsable">
          <ul class="nav navbar-nav">
            <li class="{% if page.body-id == 'home' %}active{% endif %}">
              <a href="/index.html">Accueil</a>
            </li>
            <li class="{% if page.body-id == 'actualites' or page.body-id == 'actualites-post' %}active{% endif %}">
              <a href="/actualites.html">Actualités</a>
            </li>
            <li class="{% if page.body-id == 'equipe' %}active{% endif %}">
              <a href="/equipe.html">Equipe</a>
            </li>
            <li class="{% if page.body-id == 'contact' %}active{% endif %}">
              <a href="/contact.html">Contact</a>
            </li>
            <li class="{% if page.body-id == 'statuts' %}active{% endif %}">
              <a href="/statuts.html">Statuts</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="main-content">
      {{ content }}
    </div>

    <footer>
      <div class="container">
        <p class="social"><i class="icon-facebook-sign"></i> <a href="http://www.facebook.com/3ailes">Page Facebook</a> | <i class="icon-twitter-sign"></i> <a href="https://twitter.com/asso3ailes">Compte Twitter</a></p>
        <p><i class="icon-book"></i> <a href="/statuts.html">Statuts de l'association</a> | <i class="icon-file-alt"></i> <a href="/files/bulletin-adhesion-3ailes.pdf">Bulletin d'adhésion</a></p>
        <p><i class="icon-pencil"></i> Logo par <a href="http://rozenn-gautier.fr" target="_blank">Rozenn Gautier</a></p>
      </div>
    </footer>

    <script src="/vendor/jquery-1.11.0.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>
